<div id="profile-dashboard" class="profile-card">
  <div class="profile-title">
    <h2>داشبورد</h2>
  </div>
  <div class="profile-data">
    <div class="card1">
      <div class="card-body1">
        <div class="row mt-3">
          <div class="col-12 col-md-4 mb-2">
            <div class="wrap black p-3 ">
              <h4 class="text-white">اپیزودها </h4>
              <hr>
              <div class="d-flex align-items-center">
                <span class="text-white text-14">ذخیره شده</span>
                <span class="text-white mr-auto">2</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-2">
            <div class="wrap red p-3">
              <h4 class="text-white">نظرات</h4>
              <hr>
              <div class="d-flex align-items-center">
                <span class="text-white text-14">نظرات باز</span>
                <span class="text-white mr-auto">0</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-2">
            <div class="wrap yellow p-3">
              <h4>اپیزود های من</h4>
              <hr>
              <div class="d-flex align-items-center">
                <span class="text-14">نظرات</span>
                <span class="mr-auto">0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
