@import "../../../assets/scss/variables";

.breadcrumb{
  background: transparent;
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  li{
    a{
      color: $white;
    }
    &::before{
      padding-right: inherit;
      padding-left: 0.5rem;
    }

  }
  .breadcrumb-item+.breadcrumb-item::before{
    float: right;
  }

}
