// HOST IRAN Colors
$primary: #191919; // Cafe Deutsch Dark Color
$secondary: #003552;

$yellow-light-color: #EAE2B7;
$yellow-dark-color: #fdb714;
$orange-color:#F77F00;
$red-color: #D62828;

//Text Colors
$text-dark: #191919;
$text-dark2: #003552;
$text-medium: #343a40;
$text-light: #6D727C;
$text-lighter: #A6AEBC;

//Gray(bg) Colors
$gray-dark: #E1E4E8;
$gray-medium: #F1F5F9; // Main Border Color
$gray-light: #f8f9fb;
$gray-lighter: #fcfcfd;
$white: #ffffff;

//Alt Colors
$yellow: #F8ED53;
$orange: #FCB813;
$red: #F05B55;
$pink: #ED3D7F;
$purple: #8973B3;
$green: #25BCBD;
$green-light: #4DB757;


// Icon Animation Colors
$orange-icon: #FBB615;
$green-icon: #4DB655;
$blue-icon: #00ABEC;

//Info Colors
$info: #26A9E0;
$success: #4DB757;
$danger: #F05B55;
$warning: #FCB813;

//Radius
$main-radius: 4px;
$btn-radius: 30px;
$alert-radius: 4px;
$input-radius: 4px;
$card-radius: 4px;
$badge-radius: 4px;
$accordion-radius: 4px;
$modal-radius: 8px;

// Font Size

// Text Colors Array
$text-colors-list: (
  text-dark: $text-dark,
  text-medium: $text-medium,
  text-light: $text-light,
  text-lighter: $text-lighter,
  text-gray-dark: $gray-dark,
  text-gray-medium: $gray-medium,
  text-gray-light: $gray-light,
  text-white: $white,
  text-info: $info,
  text-success: $success,
  text-danger: $danger,
  text-warning: $warning,
  text-yellow: $yellow,
  text-orange: $orange,
  text-red: $red,
  text-pink: $pink,
  text-purple: $purple,
  text-green: $green,
  text-green-light: $green-light
);

// Bg Colors Array
$bg-colors-list: (
  bg-gray-dark: $gray-dark,
  bg-gray-medium: $text-medium,
  bg-gray-light: $gray-light,
  bg-primary: $primary,
  bg-secondary: $secondary,
  bg-info: $info,
  bg-success: $success,
  bg-warning: $warning,
  bg-danger: $danger,
  bg-purple: $purple,
);

// Shadows ---------------------------------------------------------- //
%shadow-light {
  box-shadow: 0px 2px 5px 0px rgba(10, 22, 70, 0.08);
}

%shadow {
  box-shadow: 0px 4px 12px 0px rgba(10, 22, 70, 0.08);
}

%shadow-great {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)!important;
}

%shadow-input {
  box-shadow: 0 2px 3px 0 rgba(33, 51, 104, 0.08);
}

%shadow-accordion {
  box-shadow: 0 2px 3px 0 rgba(33, 51, 104, 0.08);
}

%shadow-card {
  box-shadow: 0 1px 4px 0 rgba(10, 22, 70, 0.16);
  transition: 300ms all ease-out;
}

%shadow-mobile-header {
  box-shadow: 0 1px 0px 0 $gray-medium;
}
