<footer class="footer pt-4">
  <div class="container">
    <div class="footer-top pb-5">
      <div class="row">
        <div class="col-12 col-md-3">
          <!--         <img class="mb-2" src="/assets/img/sample.png" alt="" width="80" height="80">-->
          <h3>Cafe Deutsch</h3>
          <p>
            Interacting with your audience
            creating new relationships, nurturing
            existing ones, and responding to
            feedback.         </p>

        </div>
        <div class="col-12 col-md-3">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" routerLink="/">Home</a></li>
            <li><a class="text-muted" routerLink="/podcasts">Podcasts</a></li>
            <li><a class="text-muted" routerLink="/blog">Blog</a></li>
            <li><a class="text-muted" routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h5 class="text-uppercase">Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <h5 class="text-uppercase">Get in touch</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">info@cafedeutsch.net</a></li>
            <li><a class="text-muted" href="#">@cafedeutsch</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="copyright">
            <small class="d-block mb-3 text-muted">© 2017-2021</small>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 text-right">
          <span class="rights text-gray text-muted">All right Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
