<div class="navbar-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 ">

  <div class="site-branding my-0 mr-auto d-flex align-items-center">
    <a class="" routerLink="/">
      <img src="/assets/img/logo.png" alt="Cafe Deutsch" width="50" class="logo">
    </a>
    <h4 class="ml-2">Cafe Deutsch</h4>
  </div>
  <nav class="navbar my-2 my-md-0 mr-md-3 p-0">
    <a class="p-2 text-dark" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2 text-dark" routerLink="/podcasts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Podcasts</a>
    <a class="p-2 text-dark" routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a>
    <a class="p-2 text-dark" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
  </nav>
  <a class="btn btn-dark" href="#">Sign up</a>
</div>
