@import "../../../assets/scss/variables";

.favorite-card{
  padding: 1rem;
  background:$white;
  border-radius: 15px;
  margin-top: 1rem;

}

.podcast-item{
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 35px 0px rgb(22 12 96 / 9%);
  h4{
    font-size: 1rem;
  }
  .podcast-cat{
    @media (max-width: 667px) {
      position: absolute;
      left: 15px;
      top: 10px;
    }

  }
  .view-more{
    //position: absolute;
    //bottom: 0;
    //left: 15px;
    @media(max-width: 667px){
      position: relative;
      left: inherit;
    }
  }
  .count-down{
    min-height: 55px;
  }
}

.unbookmark{
  position: absolute;
  right: 23px;
  top: 32px;
  z-index: 2;
  i{
    color:$red;
    width: 12px;
    height: 24px;
    display: block;
  }

}
