@import "../../../assets/scss/variables";

.favorite-card{
  padding: 1rem;
  background:$white;
  border-radius: 15px;
  margin-top: 1rem;

}

.podcast-item{
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 35px 0px rgb(22 12 96 / 9%);
  .view-more{
    position: absolute;
    bottom: 0;
    left: 15px;
    @media(max-width: 667px){
      position: relative;
      left: inherit;
    }
  }
}
.unbookmark{
  position: absolute;
  left: 12px;
  top: 12px;

  i{
    color:$red;
    width: 12px;
    height: 24px;
    display: block;
  }

}
