@import "../../../assets/scss/variables";

#cover{
  //margin-top: 87px;
  padding-top: 10rem;
  background-color: $primary;
  margin-bottom: 3rem;
  padding-bottom: 9rem;
  width: 100%;
  @media (max-width: 667px) {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
  }
  &.text{
    text-align: center;
    h1{
      color: $white
    }
  }
  &.image{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    //padding: 6rem 0;
    padding-bottom: 2rem;
    &::before{
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.75);
    }
    h1.podcast-title{
      color: $white;
    }
    h5.podcast-category{

     a {
       padding: 5px 15px;
       font-weight: 500;
       line-height: 20px;
       text-align: center;
       text-transform: uppercase;
       display: inline-block;
       z-index: 99999;
       background: $orange;
       color: #fff;
       border-radius: 4px;

     }

    }

    .podcasts-list{
      background: rgba(0,0,0,0.3);
      padding: 1rem;
      border-radius: 8px;
      @media  only screen and (max-width: 667px) {
        margin-top: 3rem;
      }
      .list-header{
        border-bottom: 1px solid $white;
        line-height: 42px;
        display: block;
      }
      ul{
        overflow: auto;
        max-height: 285px;
        margin-bottom: 3rem;
        &::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
          width: 6px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
          background-color: $text-medium;
        }
        li.epis-item{
          a{
            display: block;
            padding: 0.5rem 1rem;
            line-height: 40px;
            border-radius: 5px;
            //margin-top: 1rem;
            &.active{
              background-color: $text-dark;
              color: $red-color !important;
            }
          }
        }
      }
    }

  }
  &.image2{
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    padding: 10rem 0;
    text-align: center;
    @media (max-width: 667px) {
      background-size: cover;
      background-position: center;
    }
    &::before{
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.4);
    }
    h1.podcast-title{
      color: $white;
    }
    p.podcast-subtitle{
      color: $white;
    }


  }
}



// Audio Player
:host::ng-deep{
  .mat-expansion-panel,
  .ngx-audio-player{
    min-width: auto !important;
  }
  .mat-card{
    background: #191919;
    margin-top: 4rem !important;
    padding: 1rem !important;
    .mat-slider-ticks,.mat-slider-thumb{
      background: #fff !important;
    }
    .mat-slider-ticks{
      opacity: 1;
    }
    .mat-icon{
      svg{
        fill: $white
      }
    }
    .mat-button{
      background-color: transparent;
      &.volume{
        background-color: transparent;
      }
    }
    span{
      color: $white;
    }
  }
}

