button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  width: auto;
  text-transform: uppercase;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #061020;
  border-radius: 25px 25px 25px 25px;
  padding: 17px 38px 17px 38px;
}
