<app-cover [type]="'image2'" [title]="'درباره ما'" [bg]="background" [subtitle]="subTitle" [breadcrumbs]="breadcrumb"></app-cover>
<div id="about">
  <div class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="host-image">
            <img src="/assets/img/daw.jpeg" alt="Davoud Seyedi" class="img-fluid">
          </div>
        </div>
        <div class="col-12 col-md-7">
          <h4 class="text-uppercase">درباره میزبان</h4>
          <h2>داود سیدی</h2>
          <p>انتخاب ما از بهترین پادکست های آموزشی زبان آلمانی در Spotify ، پادکست های اپل و موارد دیگر که شامل فناوری ، فرهنگ ، علم ، سیاست و ایده های جدید هستند</p>
          <p>پادکست ها اکنون تجارت بزرگی هستند. در این دنیای صوتی پس از سریال ، روزنامه نگاران ، افراد مشهور ، دانشگاهیان و بله ، هر کس دیگری که میز تحریر و میکروفون داشته باشد ، اکنون یک نمایش منظم دارد. کیفیت به طور کلی بسیار بالا است اما هنوز هم می توان با ده ها پادکست که با همان مضامین یا برنامه های تلویزیونی ظاهر می شوند ، تلاش ها را از بین برد و از دست داد.</p>

         <div class="d-flex align-items-center">
           <div class="button">
             <a class="btn btn-dark" routerLink="/contact">
               تماس با ما
             </a>
           </div>
           <div class="social">
             <ul class="m-0">
               <li class="list-inline-item mr-3"><a class="text-dark" href="https://facebook.com/cafedeutsch"><i class="fab fa-facebook"></i></a></li>
               <li class="list-inline-item mr-3"><a class="text-dark" href="https://twitter.com/cafedeutsch"><i class="fab fa-twitter "></i></a></li>
               <li class="list-inline-item mr-3"><a class="text-dark" href="https://instagram.com/cafedeutsch"><i class="fab fa-instagram "></i></a></li>
               <li class="list-inline-item mr-3"><a class="text-dark" href="https://telegram.org/cafedeutsch"><i class="fab fa-telegram "></i></a></li>
             </ul>
           </div>
         </div>

        </div>
      </div>
    </div>
  </div>
</div>
