@import "../../../../assets/scss/variables";

#profile-sidebar{
  padding: 1rem;
  background:$white;
  border-radius: 15px;
  margin-top: 1rem;
  .profile-info{
    .avatar{
      img{
        width: 110px;
        height: 110px;
      }
    }
  }

  #menu{
    ul{
      li{
        a{
          display: block;
          margin-bottom: 1rem;

        }
        &:hover a{
          color: $red-color !important;
        }
      }
    }
  }
}
