@import "../../../assets/scss/variables";

#hero{
  //background-image:url('/assets/img/hero/hero-1-min.jpeg') ;
  background-color: $primary;
  //background-image: linear-gradient(70deg, $primary,#333);
  background-position: 0px 0px;
  background-image: unset !important;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10rem 0 4rem;
  position: relative;
  overflow: hidden;
  @media(max-width: 667px){
    padding-top: 1rem ;
   &::before{
     opacity:0.8 !important;
   }
  }
  &::before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(70deg, $primary,#333);
    opacity:1;
  }
  .img{
    border-radius: 20px;
    overflow: hidden;
  }
  .hero-desc{
    //margin-top: 6rem;
    min-height:auto;
    @media (max-width: 667px){
      min-height: auto !important;
    }
    h1,p{
      color: $white !important;
    }

    .podcast-cat{
      a{
        background: $orange;
        color: $white!important;
        display: inline-block;
        line-height: 1;
        padding: 5px;
        border-radius: 4px;
      }
    }
  }
  .mat-expansion-panel,
  .ngx-audio-player{
    min-width: auto !important;
  }
  .mat-card{
    background: #191919;
    margin-top: 4rem !important;
    padding: 1rem !important;
    .mat-slider-ticks,.mat-slider-thumb{
      background: #fff !important;
    }
    .mat-slider-ticks{
      opacity: 1;
    }
    .mat-icon{
      svg{
        fill: $white
      }
    }
    .mat-button{
      background-color: transparent;
      &.volume{
        background-color: transparent;
      }
    }
    span{
      color: $white;
    }
  }
}

#levels{
  background-color: $white;
  padding: 1rem 0;
  .level-item{
    min-height: 150px;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    p{
      color: $white;
    }
    h3{
      color: $white;
    }
    &.yellow{
      background-color: $yellow-dark-color;
      &::before{
        content: "A";
        position: absolute;
        left: 15px;
        top: 0;
        font-size: 4rem;
        font-weight: bold;
        opacity: 0.4;
        width: 94px;
        border-radius: 50%;
        height: 94px;
        text-align: center;
      }
    }
    &.red{
      background-color: $red-color;
      &::before{
        content: "B";
        position: absolute;
        left: 15px;
        top: 0;
        font-size: 4rem;
        font-weight: bold;
        opacity: 0.4;
        width: 94px;
        border-radius: 50%;
        height: 94px;
        text-align: center;
      }
    }
  }
}

#about{
  padding: 4rem 0;
  background-color: $white;
  .about-label{
    background: $red-color;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: inline-block;
    color: $white;
  }
  p{
    color: $text-dark;
    //font-family: "Rubik", Sans-serif;
  }
  h4{
    color: $text-dark ;
  }
}

#featured{
  padding: 4rem 0;
  background-color: $yellow-dark-color;
  .featured-header{
    h2 ,a {
      color: $primary !important;
    }
  }
  .podcast-item{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    @media (max-width: 667px) {
      overflow: hidden;
      padding: 0 ;
    }
    box-shadow: 0 0 35px 0px rgb(22 12 96 / 9%);
    .desc,.view-more{
      @media (max-width: 667px) {
        padding: 20px;
      }
    }

    .img{
      position: relative;
      @media (max-width: 667px) {
        max-height: 220px;
        overflow: hidden;
      }
    }
    .podcast-cat{
      @media (max-width: 667px) {
        position: absolute;
        left: 15px;
        top: 10px;
      }

    }
    .view-more{
      position: absolute;
      bottom: 0;
      left: 15px;
      @media (max-width: 667px){
        position: relative;
        left: inherit;
      }
    }
  }
  .owl-nav{
    position: relative;
    .owl-next{
      margin-right: 50px !important;
      z-index: 999;
      position: relative;
    }
    .owl-prev{
      margin-left: 50px !important;
      z-index: 999;
      position: relative;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 7px;
    right: 0;
    left: 0;
    .owl-dot{
      span{
        background: $white !important;
      }
      &.active{
        span{
          background: $red-color !important;
        }
      }
    }
  }
}

#support{
  padding: 4rem 0;
  @media (max-width: 667px){
    padding-bottom: 0;
  }
  .desc{
    padding-top: 6rem;
    @media (max-width: 667px){
      padding-top: 0rem;
    }
  }
  h2{
    color: #071129;
    //font-family: "Rubik", Sans-serif;
  }
  a.btn{
    @media (max-width: 667px){
      width: 100%;
    }
  }
}

#blog{
  position: relative;

  .blog-item{
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background: linear-gradient(90deg,transparent 0% , rgba(0, 0, 0, 0.8) 100%);
    }

    .content-wrapper{
      position: relative;
      .category{
        padding: 5px 15px;
        font-weight: 500;
        line-height: 20px;
        //letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        //z-index: 99999;
        background: $orange;
        color: $text-dark;
        font-size: 11px;
        border-radius: 20px;
        margin-bottom: 1rem;
      }
      p,h2,span{
        color: $white !important;
      }
      .view-more{
        a{
          color: $white !important;
        }
      }
    }
  }
  .owl-item{
    position: relative;
  }
  .owl-nav{
    position: absolute;
    bottom: 2rem;
    right: 0;
    left: 0;
    .owl-next{
      margin-right: 50px !important;
      z-index: 999;
      position: relative;
    }
    .owl-prev{
      margin-left: 50px !important;
      z-index: 999;
      position: relative;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 2.5rem;
    right: 0;
    left: 0;
    .owl-dot{
      span{
        background: $white !important;
      }
      &.active{
        span{
          background: $red-color !important;
        }
      }
    }
  }
}

// Audio Player
:host::ng-deep{
  .mat-expansion-panel,
  .ngx-audio-player{
    min-width: auto !important;
  }
  .mat-card{
    background: #191919;
    margin-top: 4rem !important;
    padding: 1rem !important;
    .mat-slider-ticks,.mat-slider-thumb{
      background: #fff !important;
    }
    .mat-slider-ticks{
      opacity: 1;
    }
    .mat-icon{
      svg{
        fill: $white
      }
    }
    .mat-button{
      background-color: transparent;
      &.volume{
        background-color: transparent;
      }
    }
    span{
      color: $white;
    }
  }
}

// Carousel
:host::ng-deep{
  .owl-nav{
    position: relative;
    .owl-next{
      margin-right: 50px !important;
      z-index: 999;
      position: relative;
    }
    .owl-prev{
      margin-left: 50px !important;
      z-index: 999;
      position: relative;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 7px;
    right: 0;
    left: 0;
    .owl-dot{
      span{
        background: $white !important;
      }
      &.active{
        span{
          background: $red-color !important;
        }
      }
    }
  }
}



