<div id="home">
  <div id="hero">
    <div class="container">
      <div class="row justify-content-first">

        <div class="col-md-6 col-xs-12">
          <div class="hero-desc">
            <div class="wrap" data-id="88fa2b2" data-element_type="widget" data-widget_type="heading.default">
              <div class="wrap-container">
                <h1 class="title">
                  Listen to your <br>
                  favorite Podcasts
                </h1>
                <p>Ensuring the best return on investment for your bespoke SEO campaign and Grow your podcast audience with your audience’s favorite platforms.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <img src="/assets/img/hero/about-cd.png" alt="about us" class="img-fluid">
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="about-wrap">
            <span class="text-uppercase">WELCOME!</span>
            <h2>
              Best Podcasts for German Langunage
            </h2>
            <h4 class="font-italic">Our pick of the best podcasts on Spotify, Apple Podcasts and more covering technology, culture, science, politics and new ideas</h4>
            <p>
              podcasts are now big business. In this post-Serial audio world, journalists, celebrities, academics and yes, anyone else who owns a mixing desk and a microphone, now has a regular show. The quality is generally very high but some efforts can still be hit and miss with dozens of podcasts popping up around the same themes or TV shows.
            </p>
            <a class="btn btn-dark" routerLink="/contact">
              Get in touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="featured">
    <div class="container">
      <div class="row">
       <div class="col-12">
         <div class="featured-header mb-3">
           <h2>Featured Shows</h2>
           <a routerLink="/podcasts" class="text-dark text-uppercase">browse all</a>
         </div>
       </div>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-md-6 col-xs-12" *ngFor="let item of podcasts">
          <div class="podcast-item mb-3">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="img mb-md-0 mb-2">
                  <a routerLink="/podcasts/{{ item.nid }}">
                    <img src="{{ item.field_podcast_image }}" alt="{{ item.title }}" class="img-fluid" >
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-6">
               <div class="desc">
                 <div class="podcast-title">
                   <h4><a class="text-dark text-decoration-none" routerLink="/podcasts/{{ item.nid }}">{{ item.title }}</a></h4>
                 </div>
                 <div class="podcast-body" [innerHTML]="item.body | slice:0 : 100"></div>
                 <div class="view-more">
                   <a routerLink="/podcasts/{{ item.nid }}" class="text-dark text-uppercase">View more</a>
                 </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="loading">
        <div class="col-12 text-center pt-5">
          <app-loading [type]="1"></app-loading>
        </div>
      </div>
    </div>
  </div>

  <div id="support">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="desc">
            <h2 class="support-title">Support the show on Cafedeutsch</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at cumque dignissimos dolor, dolorum expedita hic id iste iusto non obcaecati pariatur qui</p>
            <a href="" class="btn btn-info">Donate</a>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="img">
            <img src="/assets/img/hero/support.png" alt="support" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
