<!--<div class="container">-->
<!--    <h1 class="text-center mb-5">-->
<!--        HomePage-->
<!--    </h1>-->

<!--    <div class="row">-->
<!--        <div class="col col-xs-12">-->
<!--            <h2 class="text-info">Lets explore Podcasts...</h2>-->
<!--        </div>-->
<!--        <div class="col col-xs-12">-->
<!--            <ul class="list-unstyled">-->
<!--                <li *ngFor="let item of podcasts">-->
<!--                  <a href="" *ngFor="let title of item.title">{{ title.value }}</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div id="home">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <img src="/assets/img/hero/pod12.webp" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="hero-desc">
            <div class="wrap" data-id="88fa2b2" data-element_type="widget" data-widget_type="heading.default">
              <div class="wrap-container">
                <h2 class="title">
                  Listen to Your <br>
                  Favourite Hosts
                </h2>
                <p>Ensuring the best return on investment for your bespoke SEO campaign and Grow your podcast audience with your audience’s favorite platforms.</p>						</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
