@import "../../../assets/scss/variables";

#podcasts{
  margin-bottom: 3rem;
  .podcast-item{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgb(22 12 96 / 9%);
    .podcast-cat{
      a{
        background: $orange;
        color: $white!important;
        display: inline-block;
        line-height: 1;
        padding: 5px;
        border-radius: 4px;
      }

    }
  }

}
