@import "../../../assets/scss/variables";

#podcast-category{
  margin-bottom: 3rem;
  .podcast-item{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgb(22 12 96 / 9%);
    .podcast-cat{
      a{
        background: $orange;
        color: $white!important;
        display: inline-block;
        line-height: 1;
        padding: 5px;
        border-radius: 4px;
      }

    }
  }

}

.filter{
  h4{
    //font-size: 14px;
    line-height: 2.8;
    margin-top: 10px;
    margin-bottom: 10px;
    color:$text-dark;
    border-bottom: #dcdee1 1px solid;
    font-weight: 900;

  }
  ul{
    li{
      a{
        line-height: 20px;
        color: $text-light;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        display: block;
      }
      &:hover{
        a{

          background-color: #dcdee1;
          cursor: pointer;
          border-radius: 4px;
        }
      }
      a.active{
        background-color: $primary;
        cursor: pointer;
        color: $red-color;
        border-radius: 4px;
      }
    }
  }
}
