@font-face {
  font-family: iran-yekan;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/iran-yekan/iranyekanwebmedium.ttf');
  src: url('/assets/fonts/iran-yekan/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/iran-yekan/iranyekanwebmedium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iran-yekan;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/iran-yekan/iranyekanwebmedium.ttf');
  src: url('/assets/fonts/iran-yekan/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/iran-yekan/iranyekanwebmedium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
