@import "../../../assets/scss/variables";

.podcast-player{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #040d1c;
  color: $white;
  z-index: 99;
}

:host ::ng-deep{
  .mat-slider-ticks,.mat-slider-thumb{
    background: #fff !important;
  }
  .mat-slider-ticks{
    opacity: 1;
  }
  .mat-icon{
    svg{
      fill: $white
    }
  }
  .mat-button{
    background-color: $orange-color;
    &.volume{
      background-color: #040d1c;
    }
  }
}
