<div id="profile-dashboard" class="profile-card">
  <div class="profile-title">
    <h2>تنظیمات حساب</h2>
  </div>
  <div class="profile-data mt-3">
    <div class="card1">
      <div class="card-body1">

        <form *ngIf="!loading">
          <h4 class="mb-2 text-danger">حساب کاربری</h4>
          <div class="form-row">

            <div class="form-group col-12 col-md-4">
              <label>پست الکترونیکی</label>
              <input type="email" class="form-control"
                     disabled
                     [(ngModel)]="userModel.email"
                     [class.is-invalid]="userModelError.email"
                     (keyup)="userModelError.email = ''"
                     name="email" maxlength="255">
              <span class="invalid-feedback">{{ userModelError.email }}</span>
            </div>
           <div class="form-group col-12 col-md-4">
             <label>گذرواژه فعلی</label>
             <input type="password" class="form-control" placeholder="*****" required
                    [(ngModel)]="userModel.current_password"
                    [class.is-invalid]="userModelError.current_password"
                    (keyup)="userModelError.current_password = ''"
                    name="current_password" maxlength="255">
             <span class="invalid-feedback">{{ userModelError.current_password }}</span>
           </div>
           <div class="form-group col-12 col-md-4">
             <label>گذرواژه جدید</label>
             <input type="password" class="form-control" placeholder="*****" required
                    [(ngModel)]="userModel.password"
                    [class.is-invalid]="userModelError.password"
                    (keyup)="userModelError.password = ''"
                    name="password" maxlength="255">

             <span class="invalid-feedback">{{ userModelError.password }}</span>
           </div>
          </div>
          <hr>
          <h4 class="mb-2 text-danger">اطلاعات شخصی</h4>
          <div class="form-row">

            <div class="form-group col-12 col-md-4">
              <label>نام</label>
              <input type="text" class="form-control"
                     [(ngModel)]="userModel.first_name"
                     [class.is-invalid]="userModelError.first_name"
                     (keyup)="userModelError.first_name = ''"
                     name="first_name" maxlength="255">
              <span class="invalid-feedback">{{ userModelError.first_name }}</span>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>نام خانوادگی</label>
              <input type="text" class="form-control"
                     [(ngModel)]="userModel.last_name"
                     [class.is-invalid]="userModelError.last_name"
                     (keyup)="userModelError.last_name = ''"
                     name="last_name" maxlength="255">

              <span class="invalid-feedback">{{ userModelError.last_name }}</span>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>تلفن همراه</label>
              <input type="tel" class="form-control"
                     [(ngModel)]="userModel.mobile_number"
                     [class.is-invalid]="userModelError.mobile_number"
                     (keyup)="userModelError.mobile_number = ''"
                     name="mobile_number" maxlength="255">

              <span class="invalid-feedback">{{ userModelError.mobile_number }}</span>
            </div>
          </div>

          <app-btn [className]="'btn btn-warning'" [loading]="btnLoading" [disabled]="btnLoading" (click)="updateUser()">ثبت</app-btn>
        </form>
        <div class="container" *ngIf="loading">
          <div class="row">
            <div class="col-12 text-center pt-5">
              <app-loading [type]="1"></app-loading>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
